// SMALL DEVICES
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }
  
  // MEDIUM DEVICES
  @mixin md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }
  
  // LARGE DEVICES
  @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }
  
  // EXTRA LARGE DEVICES
  @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }
  
  // FLEXBOX
  
  @mixin flex($justify, $align: center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: 10px;
  }
  
  // CSS GRID MIXINS
  
  @mixin grid($columns, $gap: 0) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
  }

  @mixin btn-common($normal-color, $hover-color, $text-color, $border-color) {
    display: inline-block;
    padding: 10px 30px;
    background-color: $normal-color;
    color: $text-color;
    text-align: center;
    border-radius: 40px;
    font-size: 1.2rem;
    border: 1px solid $border-color;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
  }
  

  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 70vw;
      height: 100vh;
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
    .nav-menu.active {
      background: $dark-color;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item {
      .active {
        // color: $dark-color;
        border: none;
      }
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      // color: $dark-color;
    }
    .our-team {
      margin-bottom: 30px;
    }
  }
  

  

@media screen and (max-width: 960px) {
	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 70vw;
    height: 100vh;
		border-top: 1px solid #fff;
		position: absolute;
		top: 80px;
		left: -110%;
		opacity: 1;
		transition: all 0.5s ease;
    z-index: 50;
	}
	.nav-menu.active {
    background: $dark-color;
		left: 0px;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}
	.nav-item {
		.active {
			// color: $dark-color;
			border: none;
		}
	}
	.nav-links {
		padding: 1.5rem;
		width: 100%;
		display: table;
	}
	.nav-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
		// color: $dark-color;
	}
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
    .footer-left {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer-center {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      i {
        margin-left: 0;
      }
    }
    .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
