@import "./variables";
@import "./reset";
@import "./mixins";

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .layout {
    width: 100vw;
    height: 1000px;
  }

  .btn-primary {
    @include btn-common($primary-color, $dark-color, $danger-color,$danger-color);
    &:hover {
        @include btn-common($primary-color, $dark-color, $light-color,$primary-color);
    }
  }
  
  .btn-outline {
    @include btn-common($primary-color, $dark-color, $light-color,$primary-color);
    &:hover {
        @include btn-common($primary-color, $dark-color, $danger-color,$danger-color);
    }
  }
  
  .section-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2.1rem;
    color: $primary-color;
    text-align: center;
    &::after {
      content: "";
      width: 110px;
      height: 5px;
      margin: 15px 0 30px;
      background-color: $secondary-color;
      display: block;
    }
  }
  #about {
    margin: 0px 2rem;
  }
  .section-description {
    text-align: center;
  }
  
  .section-title.center {
    &::after {
      margin-left: auto;
      margin-right: auto;
    }
  }
