// $primary-color: #5847d6;
$primary-color: #4E31AA;
$secondary-color: #00294a;
$danger-color: #8450b7;
$light-color: #ffffff;
$gray-color: #92999f;
$light-gray-color: #f1f4f6;
$dark-color: #333333;
$color_1: #4e5052;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;