$primary-color: #1f5156;
$secondary-color: #2e0aceb0;
$danger-color: #f5b921;
$lite-color: #ffffff;
$dark-color: #333333;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;