// $primary-color: #5847d6;
$primary-color: #4E31AA;
$secondary-color: #000000;
$danger-color: #8450b7;
$lite-color: #ffffff;
$gray-color: #92999f;
$dark-color: #333333;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;