@import "./variables";
@import "./reset";
@import "./mixins";
@import "./utils";

.navbar {
  padding: 5px 10px;
  background: $light-color;
  font-size: 1.2rem;
  z-index: 20;
  box-shadow: 1px 1px 15px 2px;
}

.nav-container {
  @include flex(space-between);
}

.nav-menu {
  display: flex;
  list-style: none;
}
.nav-links {
  color: $danger-color;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}
.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  &:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  &:hover {
    &:after {
      width: 100%;
      background: $primary-color;
    }
  }
}
.nav-icon {
  display: none;
}

.collage-name {
  span {
    color: $primary-color;
  }
}

//NAVBAR END

// HERO
.hero {
  width: 100%;
  height: 90vh;
  text-align: center;
  @include flex(center, center, column, no-wrap);
}

.hero h2 {
  color: $danger-color;
  font-size: 2.2rem;
}

.hero p {
  color: $light-color;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.hero-btns {
  display: flex;
  gap: 3rem;
}

main {
  margin-top: 136.6px;

  @include sm {
    margin-top: 100px;
  }
}

// Entrepreneurs Section Start

.our-team-section {
  position: relative;
  padding-bottom: 40px;
  margin: 5rem 2.5rem;

  @include grid(1, 20px); // Card size for small devices (1 column)

  @media (min-width: $screen-md-min) {
    @include grid(2, 20px); // Card size for medium devices (2 columns)
  }

  @media (min-width: $screen-lg-min) {
    @include grid(3, 20px); // Card size for large devices (3 columns)
  }
  &:before {
    position: absolute;
    top: -0;
    left: 0;
    content: " ";
    background: url(img/service-section-bottom.png);
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
  }
}
.our-team {
  padding: 30px 0 40px;
  background: #f9f9f9;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-bottom: 5px solid $secondary-color;
  &:hover {
    border-bottom: 5px solid #2f2f2f;
    .pic {
      &:before {
        height: 100%;
        background: #2f2f2f;
      }
      &:after {
        background: $primary-color;
      }
      img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
      }
    }
    .social {
      bottom: 0;
    }
  }
  .pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #00325a;
      position: absolute;
      bottom: 135%;
      right: 0;
      left: 0;
      opacity: 1;
      transform: scale(3);
      transition: all 0.3s linear 0s;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #ffffff00;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      transition: all 0.3s linear 0s;
    }
    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      transform: scale(1);
      transition: all 0.9s ease 0s;
      box-shadow: 0 0 0 14px #f7f5ec;
      transform: scale(0.7);
      position: relative;
      z-index: 2;
    }
  }
  .team-content {
    margin-bottom: 20px;
    padding: 1rem;
  }
  .title {
    font-size: 22px;
    font-weight: 700;
    color: $color_1;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .post {
    display: block;
    font-size: 15px;
    color: $color_1;
    text-transform: capitalize;
  }
  .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #2f2f2f;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 10px;
        font-size: 17px;
        color: $light-color;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $dark-color;
          background: #f7f5ec;
        }
      }
    }
  }
}

// Testionial start
$color_1: #fff;
$background-color_1: white;
$background-light-color: #fff;
$background-dark-color: #212121;

.testimonial {
  display: inline-block;
  background-color: $background-color_1;
  margin: 50px 10px 10px 10px;
  min-width: 320px;
  height: 220px;
  border: solid 1px #bdbdbd;
  position: relative;
  transition: ease-in-out 0.3s;
  img {
    height: 70px;
    width: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 15px #fff;
    background-color: $background-light-color;
    transition: box-shadow 0.3s linear;
  }
  p {
    position: absolute;
    width: 70%;
    text-align: center;
    top: 50px;
    left: 50%;
    transform: translatex(-50%);
    font-size: 15px;
  }
  h1 {
    position: absolute;
    text-decoration: bold;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    font-size: 17px;
    padding-bottom: 10px;
  }
  &:hover {
    background-color: $background-dark-color;
    color: $color_1;
    img {
      box-shadow: 0px 0px 0px 2px #fff;
    }
  }
}

@media only screen and (max-width: 860px) {
  .testimonials {
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 70px;
    &:first-child {
      margin-top: 50px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 90%;
  }
}

// Testionial end

// CONTACT

.contact {
  margin: 50px 0;
  background-color: rgba(179, 156, 215, 0.603);
  color: #ffffff;

  @include md {
    @include grid(2);
  }

  .contact-form {
    width: 500px;
    max-width: 100%;
    padding: 25px;
    margin: auto;

    .section-title {
      color: #ffffff;
    }

    p {
      margin: 40px 0;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 13px;
      border: none;
      outline: none;
    }
  }
}

.footer-distributed {
  background: $secondary-color;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  .footer-left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }
  .footer-center {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    i {
      background-color: $dark-color;
      color: $light-color;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }
    i.fa-envelope {
      font-size: 17px;
      line-height: 38px;
    }
    p {
      display: inline-block;
      color: $light-color;
      font-weight: 400;
      vertical-align: middle;
      margin: 0;
      span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
      }
    }
  }
  .footer-right {
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }
  h3 {
    color: $light-color;
    font: normal 36px "Open Sans", cursive;
    margin: 0;
    span {
      color: $primary-color;
    }
  }
  .footer-links {
    color: $light-color;
    margin: 20px 0 12px;
    padding: 0;
    a {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
      text-decoration: none;
      color: $light-color;
      &:before {
        content: "|";
        font-weight: 300;
        font-size: 20px;
        left: 0;
        color: $light-color;
        display: inline-block;
        padding-right: 5px;
      }
    }
    .link-1 {
      &:before {
        content: none;
      }
    }
  }
  .footer-company-name {
    color: $dark-color;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  .footer-company-about {
    line-height: 20px;
    color: $light-color;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    span {
      display: block;
      color: $gray-color;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  .footer-icons {
    margin-top: 25px;
    @include flex(center);
    a {
      @include flex(center);
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: $dark-color;
      border-radius: 5px;
      font-size: 20px;
      color: $light-color;
    }
  }
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px;
  }
}

// Entrepreneurs Section End

@media screen and (max-width: 960px) {
  .nav-menu {
    @include flex(start);
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 50;
  }
  .nav-menu.active {
    background: $dark-color;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item {
    .active {
      // color: $dark-color;
      border: none;
    }
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    // color: $dark-color;
  }
}

@media (max-width: 880px) {
  .footer-icons {
    margin-top: 25px;
    @include flex(center);
  }
  .footer-distributed {
    font: bold 14px sans-serif;
    .footer-left {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer-center {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      i {
        margin-left: 0;
      }
    }
    .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }
}
