#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.login {
  background-image: url("../src/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.register {
  background-image: url("../src/assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}